[class^='col'] {
	padding: 50px;
	background-color: green;
	color: white;
	border: 1px solid white;
}

.green{
  background-color: green;
}

section {
	padding: 5px;
}

.col-lightgreen{
  background-color: #9CE03D;
}

.col-black{
  background-color: black;
}

.col-red{
  background-color: red;
}

section{
  padding-bottom: 200px;
}